/* Custom font for story links */
@font-face {
  font-family: 'Myfont';
  src: url('/fonts/MyfontThinVariantCompressed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Ensure the app fills the screen */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars on the body */
  background-color: #f0f0f0; /* Match the canvas background for safety */
}